/* styles.css */

/* Add styles here to customize the appearance of your app */
body {
    background-color: transparent;
    background-image: url("background.jpg");
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .loader {

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .center {
    border: none !important;
    text-align: center;
  }